.app-container{
    display: flex;
}

.sidebar{
    min-height: 800px;
    width: 200px;
}
.content{
    width: 100%;
}

.post-card {
    margin: 20px 50px;

}
.hashtag{
    margin: 0px 3px;
}

.reactions{
    width: 100%;
    margin: 15px 0 0 0;
}
.create-post{
    width:80%;
    margin: 50px 0 0 10%;
}
.welcome-message{
    margin:100px;
}
.spinner{
    margin: 10% 0;
}